BlackJackClient/BlackJackClient/obj/Debug/BlackJackClient.csproj.FileListAbsolute.txt
*.txt
BlackJackClient/BlackJackClient/obj/Debug/BlackJackClient.csproj.FileListAbsolute.txt
*.txt
Blackjack/BlackjackService/obj/Debug/BlackjackService.csproj.FileListAbsolute.txt
Blackjack/BlackjackService/obj/Debug/BlackjackService.csprojResolveAssemblyReference.cache
Blackjack/BlackjackService/obj/Debug/BlackjackService.pdb
Blackjack/BlackjackService/obj/Debug/BlackjackService.csproj.FileListAbsolute.txt