<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBlackjackGame" />
                <binding name="NetTcpBinding_IChat" />
                <binding name="NetTcpBinding_IPortal" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8735/BlackjackService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBlackjackGame"
                contract="BlackjackService.IBlackjackGame" name="NetTcpBinding_IBlackjackGame">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8734/Chat" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChat" contract="BlackjackService.IChat"
                name="NetTcpBinding_IChat">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8736/Portal" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPortal" contract="BlackjackService.IPortal"
                name="NetTcpBinding_IPortal">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>